<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to MySuperstarcity!</title>
    <style>
        body {
            background-image: url('/static/background.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 50% 50%;
            background-position: center bottom;
        }
    </style>
</head>
<body>
    <div align="center" style="width: 100%; float: left">
        <div align="center" style="width: 20%; float: left;">
            <div align="left" style="width: 20%; float: left;">
                <img border="0" src="{{ url_for('static', filename='tradingbotspro.png') }}" width="55" height="55">
            </div>
            <div align="left" style="width: 77%; float: right;">
                <a href="https://www.youtube.com/@tradingbotspro" target="_blank">
                    Feel free to visit my YouTube channel about algorithmic trading (English)
                </a>
            </div>
        </div>
        <div align="center" style="width: 60%; float: left;">
            <h1>
                <br>
                Welcome to MySuperstarcity!
                <br>
                <br>
                Let's check how superstar you are! ;0)
                <br>
                <br>
            </h1>
        </div>
        <div align="center" style="width: 20%; float: left;">
            <div align="left" style="width: 20%; float: left;">
                <img border="0" src="{{ url_for('static', filename='ds_logo.png') }}" width="55" height="55">
            </div>
            <div align="left" style="width: 80%; float: right;">
                <a href="https://www.youtube.com/@datascience_0inf" target="_blank">
                    Feel free to visit my YouTube channel about my path in Data Science (Russian)
                </a>
            </div>
        </div>
    </div>
    <div align="center" style="width: 100%;">
        <div align="center" style="width: 20%; float: left;">
            <h3>
                We have the following honour men in our model:
            </h3>
            <ul align="left">
                {% for person in list_of_men %}
                    {{ person }} <br>
                {% endfor %}
            </ul>
        </div>
        <div align="center" style="width: 60%; float: left;">
            <h2>
                Upload photo to compare (png, jpg, jpeg extensions):
            </h2>
            <br>
            <form method=post enctype=multipart/form-data>
              <input type=file name=file>
              <input type=submit value=Upload>
            </form>
        </div>
        <div align="center" style="width: 20%; float: right;">
            <h3>
                We have the following beautiful women in our model:
            </h3>
            <ul align="left">
                {% for person in list_of_women %}
                    {{ person }} <br>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>